.section {
    padding: 60px 0;
    @media screen and (min-width: $tablet) {
        padding: 60px 0;
    }
    @media screen and (min-width: $desktop) {
        padding: 94px 0;
    }
}

.section--centred {
    text-align: center;
}

.section--half-bottom {
    padding-bottom: 60px;
    text-align: center;
    @media screen and (min-width: $desktop) {
        padding-bottom: 47px;
    }
}

.section--half-top {
    padding-top: 60px;
    text-align: center;
    @media screen and (min-width: $desktop) {
        padding-top: 47px;  
    }
}

.section--grey {
    text-align: center;
    background-color: var(--background-grey-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}