.logo {
    color: var(--primary-black-color);
    font-family: Raleway, sans-serif;
    @include font(26, 700, 1.2);
    &--white {
        color: var(--primary-white-color);
    }
}

.logo__text {
    color: var(--accent-color);
    &--blue {
        color: var(--accent-color);
    }
}