
.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: $mobile) {
        height: 60px;
    }
    @media screen and (min-width: $tablet) {
        justify-content: space-around;
        height: 80px;
    }
    @media screen and (min-width: $desktop) {
        justify-content: space-between;
        height: 80px;
    }
}

.main-nav {
    display: flex;
    align-items: center;
    color: var(--title-text-color);
}

.main-nav__list {
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
        margin-left: 87px;
    }
    @media screen and (min-width: $desktop) {
        margin-left: 92px;
    }
}

.main-nav__item:not(:last-child) {
    margin-right: 46px;
}

.main-nav__link {
    display: flex;
    align-items: center;
    position: relative;
    height: 76px;
    padding: 0 4px;
    color: var(--title-text-color);
    @include font(14, 500, 1.1, 0.02);
    transition: color 250ms var(--timing-function);
    &:hover, 
    &:focus {
    color: var(--accent-color);
    cursor: pointer;
    }
}

.main-nav__link--current {
    color: var(--accent-color);
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }
}

.contacts {
    display: none;
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
    }
}

.contacts__item {
    list-style: none;
    @media screen and (min-width: $tablet) {
        & + & {
            margin-top: 10px;
        }
    }
    @media screen and (min-width: $desktop) {
        & + & {
            margin-top: 0;
            margin-left: 30px;
        }
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    text-decoration: none;
    @include font(14, 500, 1.1, 0.02);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
    color: var(--accent-color);
    cursor: pointer;
    }
}

.contacts__icon {
    fill: #757575;
    transition: fill 250ms var(--timing-function);
    .contacts__link:hover &,
    .contacts__link:focus & {
    fill: var(--accent-color);
    }
}

.contacts__icon:nth-child(1) {
    margin-right: 10px;
}

.contacts__icon:nth-child(2) {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}


.menu-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    @media screen and (min-width: $tablet) {
        display: none;
    }
} 

.not-vissible {
    display: none;
}

.is-open {
    display: block;
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-white-color);
    width: 100vw;
    height: 100vh;
    padding: 10px 25px 48px;
    & > .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
}

.menu-close {
    margin-left: auto;
    display: block;
    border: none;
    background-color: transparent;
    &:hover .menu-button__menu,
    &:focus .menu-button__menu {
        fill: var(--accent-color);
    }
}

.menu-button__menu {
    transition: fill 250ms var(--timing-function);
}

.mob-menu-list {
    margin-bottom: 64px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu-link {
    @include font(40, 500, 1.17, 0.1);
    color: var(--title-text-color);
}

.mob-connect-tel {
    display: block;
    margin-bottom: 32px;
    @include font(34, 500, 1.71, 0.1);
    color: var(--accent-color);
}

.mob-connect-mail {
    @include font(24, 500, 1.17, 0.1);
    color: var(--primary-text-color);
}

.mob-connect {
    margin-bottom: 64px;
}

.mob-soc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.mob-soc-link__link::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 98%;
        bottom: 0px;
        width: 22px;
        height: 1px;
        transform: rotate(90deg);
        background-color: rgba(33, 33, 33, 0.2);
}

.mob-soc-item {
    position: relative;
}

.mob-soc-link {
    @include font(18, 500, 1.22, 0.1);
    color: var(--accent-color);
}