.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: var(--primary-text-color);
}

.gallery__item {
    // width: calc((100% - 2*30px)/ 3);
    width: 100%;
    @media screen and (min-width: 768px) {
        width: 100%;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 3);
    }
}

.gallery__thumb {
    position: relative;  
}

.gallery__subheadling {
    display: flex;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    align-items: center;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
    @include font(14, 700, 1.14);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
}